@*
    プロフィール画面
*@
@page "/profile/{DisplayUserId}"

<PageTitle>Ibasho - プロフィール</PageTitle>

<div class="space-y-4 px-4">
    <ProfileContainer 
        DisplayUserId="@DisplayUserId" 
        LoginUserId="@LoginUserId"
        TargetUserId="@TargetUserId"
        ProfileInfo="@ProfileInfo" 
        Posts="@Posts" />
</div>

@code {
    // パス
    public static string Path = "/profile";

    // 表示用ユーザId
    [Parameter] public string DisplayUserId { get; set; } = "";

    // ログインユーザId
    private string LoginUserId { get; set; } = "";

    // 対象のユーザId
    private string TargetUserId { get; set; } = "";

    // プロフィール情報
    private ProfileInfoDto? ProfileInfo;

    // 投稿一覧
    private IReadOnlyList<PostListItemDto> Posts { get; set; } = [];

    /// <summary>
    /// 初期表示時
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        LoginUserId = await UserAuthHelper.GetUserIdAsync(AuthStateProvider) ?? "";
        if (string.IsNullOrEmpty(LoginUserId))
        {
            return;
        }
        TargetUserId = await GetUserIdUseCase.ExecuteAsync(DisplayUserId) ?? "";
        if (string.IsNullOrEmpty(TargetUserId))
        {
            return;
        }
        ProfileInfo = await GetUserProfileUseCase.ExecuteAsync(TargetUserId, LoginUserId);
        Posts = await GetUserPostsUseCase.ExecuteAsync(TargetUserId, LoginUserId);
    }
}