@*
    プロフィール画面
*@
@page "/profile/{DisplayUserId}"
@using Ibasho.Application.UseCases.Profiles
@using Ibasho.Application.UseCases.Users
@using Ibasho.Components.Partials.Profile
@inject GetUserProfileUseCase GetUserProfileUseCase
@inject GetUserPostsUseCase GetUserPostsUseCase
@inject GetUserIdUseCase GetUserIdUseCase

<PageTitle>Ibasho - プロフィール</PageTitle>

<div class="space-y-4 px-4">
    <div class="mt-4 bg-white rounded-xl shadow-sm overflow-hidden">
        @* プロフィール *@
        @if (ProfileInfo != null)
        {
            <div>
                <img class="h-32 w-full object-cover" src="@ProfileInfo.BannerUrl" alt="Profile banner">
            </div>
            <div class="p-4">
                <div class="flex items-end -mt-16">
                    <img class="h-24 w-24 rounded-full border-4 border-white" src="@ProfileInfo.AvatarUrl" alt="My Avatar">
                    <ButtonSwitch DisplayUserId="@DisplayUserId" LoginUserId="@LoginUserId" TargetUserId="@TargetUserId" IsFollow="false" />
                </div>
                <div class="mt-4">
                    <h2 class="text-xl font-bold">@ProfileInfo.DisplayName</h2>
                    <p class="text-sm text-gray-500">@("@" + ProfileInfo.DisplayUserId)</p>
                    <p class="mt-2 text-gray-700">@ProfileInfo.Bio</p>
                </div>
                <div class="flex mt-4 space-x-4 text-sm text-gray-600">
                    <p class="cursor-pointer" onclick="showContent('follow-list')"><span class="font-bold text-gray-800">@ProfileInfo.FollowingCount</span> フォロー中</p>
                    <p class="cursor-pointer" onclick="showContent('follow-list')"><span class="font-bold text-gray-800">@ProfileInfo.FollowerCount</span> フォロワー</p>
                </div>
            </div>
        }
        @* 投稿一覧 *@
        <PostList DisplayUserId="@DisplayUserId" Posts="Posts" />
    </div>
</div>

@code {
    // パス
    public static string Path = "/profile";

    // 表示用ユーザId
    [Parameter] public string DisplayUserId { get; set; } = "";

    // ログインユーザId
    public string LoginUserId { get; set; } = "";

    // 対象のユーザId
    public string TargetUserId { get; set; } = "";

    // プロフィール情報
    private ProfileInfoDto? ProfileInfo;

    // 投稿一覧
    private IReadOnlyList<PostListItemDto>? Posts;

    /// <summary>
    /// 初期表示時
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        LoginUserId = await UserAuthHelper.GetUserIdAsync(AuthStateProvider) ?? "";
        if (string.IsNullOrEmpty(LoginUserId))
        {
            return;
        }
        TargetUserId = await GetUserIdUseCase.ExecuteAsync(DisplayUserId) ?? "";
        if (string.IsNullOrEmpty(TargetUserId))
        {
            return;
        }
        ProfileInfo = await GetUserProfileUseCase.ExecuteAsync(TargetUserId, LoginUserId);
        Posts = await GetUserPostsUseCase.ExecuteAsync(TargetUserId, LoginUserId);
    }
}